@import "variables";
@import "fonts";
@import "homepage";

html {
  font-size: $root-font-size;
  font-family: $body-font-family;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  position: relative;
}

img {
  width: 100%;
}

.container {
  max-width: 60rem;
  width: 100%;
  position: relative;
  margin: 0 auto;

  @media screen and (min-width: 75rem) {
    max-width: 85.375rem;
  }

  @media screen and (min-width: 87.5rem) {
    max-width: 90rem;
  }
}

// Tools
.fill-image {
  visibility: hidden;
}

.no-repeat {
  background-repeat: no-repeat;
}

.cover {
  background-size: cover;
}
